/* contendedor princilal*/
.contenido{
  width:100%;
  max-width:900px;
  min-width:250px;
  margin:10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center ;
  align-items: center ;
  align-content: stretch;
}
/*encabezadon color, ancho, alto, alineacion borde*/
header{

    width: 100%;
    height:auto;
    background-color:#5b7989;
    border-radius: 10px 10px 0px 0px;
    overflow:hidden;
    text-align:center;
    flex: 1 100%;
    position: sticky;
    top: 0;}
/*barra de navegacion*/

/* cuerpo de la pagina 3 imagenes */
.cuerp{
    width:100%;
    max-width:1300px;
    min-width:250px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center ;
    align-items: center ;
    align-content: space-around;

}
/* caja imagen central (perro)*/
#cajaimagenppal{
    background-color:#82c3a6;
    height:100%;
    flex: 1 100%;
}
/* reducir tamaño imagen central (perro)*/
#imgcajaimenppal{
  width:30%;
  align-items: center ;
  align-content: space-around;

}
#cajapaisaje{
  width: 50%;
  height: 100%;
    background: #d5c75f;
    flex: 1 auto;
    order: 1;
}

#cajaretrato{
width: 50%;
    background: #d5c75f;
    flex: 1 auto;
    order: 2;
    align-items: center ;
    align-content: space-around;
  }

  #imgpaisaje{
  width: 50%;
      background: #d5c75f;
      flex: 1 auto;
      order: 3;
      align-items: center ;
      align-content: space-around;
    }

      #imgretrato{
      width: 50%;
          background: #d5c75f;
          flex: 1 auto;
          order: 3;
          align-items: center ;
          align-content: space-around;
        }



header h1{
    font-family: 'Dancing Script', cursive;
    letter-spacing: 2px;
    color: white;
    text-shadow: 2px 0px 0px  #02010a;
    line-height:60px;
    margin:0;
    font-size:15px;
    float:left;
    width:60%;
    padding-left:20px;
    box-sizing:border-box;
  }


    .tituloimg{
        width: 50%;
        text-align: center;
        background: #d5c75f;
      font-family: 'Dancing Script', cursive;
        font-size: 1.5em;
        text-decoration:underline;
    }
#paisaje , #retrato{
  height: 400px;
}
    div img{
      margin: auto;
      display:block;
      border: 1px solid black;
      box-shadow: 4px 5px black;
      width: 80%;
    }

header nav{
    float:left;

}

#menupg{
  font-family: 'Dancing Script', cursive;
  display: inline;
  padding: 0;
}

#menupg li{
  font-family: 'Dancing Script', cursive;
  color: white;
display: inline;
}
li a{
    text-decoration: none;
    color: white;
    font-family: 'Dancing Script', cursive;
    letter-spacing: 2px;
}
#menupg{

 font-family: Arial;
 font-size: 11px;
 text-decoration: none;
 float: left;

}

/* animaciones images*/
#paisaje{
  transition: all 2s;
}
#paisaje:hover{
  border: 2px solid black;
  box-shadow: 6px 0px 0px #82c3a6;
  transform: rotate(10deg);
}
#retrato{
  transition: all .6s;
}
#retrato:hover{
  transform: translate(20px);
  border: 2px solid black;
  box-shadow: 6px 0px 0px #82c3a6;
}
/* footer */
.footer1{
    width:100%;
    max-width:1366px;
    min-width:220px;
    background: #c6d5c5;
    display: flex;
    flex-flow: row wrap;
    justify-content: center ;
    align-items: center ;
    align-content: space-around;
    border-radius: 0px 0px 6px 6px;
}
#c1{
    height:350px;
    flex: 1 auto;
    border-bottom-left-radius: 10px;
}
#c2{
    height:350px;
    flex: 1 auto;
}
#c3{
    height:350px;
    flex: 1 auto;
}
#c4{
    height:350px;
    flex: 1 auto;
    border-bottom-right-radius: 10px;
    font-weight: bold;
}
.iconored{
     width: 30px;
}
/* css paginas paisajes y retrato*/
#is{
  width:100%;
  max-width: 1300px;
  min-width:250px;
  display: flex;
  flex-flow: row wrap;
  background-color: black;
}
#i1{
  height: auto;
  flex: 1 auto;
}
#i2{
  height: auto;
  flex: 1 auto;
}
#i3{
  widht: auto;
  flex: 1 auto;
}
#i4{
  widht: auto;
  flex: 1 auto;
}
#i5{
  widht: auto;
  flex: 1 auto;
}#i6{
  widht: auto;
  flex: 1 auto;
}
.imgpaisaje{
  height: 150px;
  width: auto;
}

/* Cambios responsive*/
@media screen and (max-width: 600px) {
    .foto{
      width: 100%
    }
    header h1{
        font-size: 1.2em;
        width: 100%
    }
    header nav{
        width: 100%;
    }
    header ul{
        flex-flow: row wrap;
    }
    li a{
        font-size: 12px;
    }
    header{
        display: block;
        order:0;
    }
    #cajaimagenppal{
        flex: 1 100%;
        order:1;
    }
    #cajapaisaje{

        flex: 1 100%;
        order:2;
    }
    #Cajaretrato{

        flex: 1 100%;
        order:3;
    }
    #retrato{
      width: 400px;
    }
    #cuerpo2{
        flex: 1 100%;
        order:4;
    }
    #imgpaisaje{
        flex: 1 100%;
        order: 5
      }
    #imgretrato{
        flex: 1 100%;

    }
    #c1{
         height: auto;
         flex: 1 100%;
    }
    #c2{
        height: auto;
         flex: 1 100%;
    }
    #c3{
        height: auto;
         flex: 1 100%;
    }
    #c4{
        height: auto;
         flex: 1 100%;
    }
}

/*animación al cargar la pagina*/
header {
  animation-duration: 5s;
  animation-name: iniciosubiendo;
}
@keyframes iniciosubiendo {
  0% {
    margin-top: 150%;
  }
  60% {
    margin-top: -5%;
  }
  100% {
    margin-top: 0%;
  }
}
